.loader_mecano {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent overlay */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_mecano::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #007bff; /* Bootstrap blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.denied-button{
    background: linear-gradient(to bottom, #f03333, #ff0022); /* dégradé bleu */
    border: 1px solid #ff004c;
    border-radius: 6px 6px 6px 6px;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(255, 0, 64, 0.4);
    transition: all 0.3s ease;
}
.denied-button:hover {
    background: linear-gradient(to bottom, #d72f3d, #d90036);
    border-color: #bf0039;
    box-shadow: 0 4px 6px rgba(217, 0, 47, 0.5);
}
.cancel-button{
    background: linear-gradient(to bottom, #5e5e5b, #5e5d5c); /* dégradé bleu */
    border: 1px solid #50504e;
    border-radius: 6px 6px 6px 6px;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(90, 90, 89, 0.4);
    transition: all 0.3s ease;
}
.cancel-button:hover{
    background: linear-gradient(to bottom, #4b4b4a, #5f5f5e);
    border-color: #525250;
    box-shadow: 0 4px 6px rgba(102, 102, 101, 0.5);
}   
.valid-button {
    background: linear-gradient(to bottom, #339af0, #007bff); /* dégradé bleu */
    border: 1px solid #007bff;
    border-radius: 6px 6px 6px 6px;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
    transition: all 0.3s ease;
}

.valid-button:hover {
    background: linear-gradient(to bottom, #2f89d7, #0069d9);
    border-color: #005cbf;
    box-shadow: 0 4px 6px rgba(0, 105, 217, 0.5);
}
.o_hidden_column {
    display: none !important;
}

.valid-all-button {
    background: linear-gradient(to bottom, #34d058, #28a745); /* effet dégradé */
    border: 1px solid #28a745;
    border-radius: 6px 6px 6px 6px; /* coins arrondis en haut uniquement */
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(40, 167, 69, 0.4);
    transition: all 0.3s ease;
}

.valid-all-button:hover {
    background: linear-gradient(to bottom, #2ebd59, #218838);
    border-color: #1e7e34;
    box-shadow: 0 4px 6px rgba(33, 136, 56, 0.5);
}
